* {
	margin: 0;
}

:root {
  --primary-color: #662ad5;
  --secondary-color: white;
  /*--ter-color: #99D52A;*/
  --card-width: 270px;
}

.MainBody {
	padding-top: 5rem;
	text-align: center;
}

.NewsCard { 
    background-color: var(--primary-color);
	display: inline-block;
	width: var(--card-width);
	height: 400px;
	justify-content: center;
	align-content: center;
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
}

.Grid {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.NewsCard:hover {
    box-shadow: 0.5rem 0.5rem 2rem var(--secondary-color);
}

.title {
    display: flex;
    color: var(--secondary-color);
    text-align: center;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    height: 70px;
    margin: 5%;   

}


.text { 
    color: white;
    text-align: left;
    padding-left: 1em;
    font-weight: 400;
}


.Image {
    width: var(--card-width);
	height: 152px;
	display: block;
}

.url {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn {
    text-align: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 15%;
    background-color: var(--primary-color);
    border-radius: 1rem 1rem 1rem;
}

.btn:hover {
    background-color: var(--secondary-color);
}

